.section-02-text {
  font-size: small;
  word-spacing: 0.2rem;
  line-height: 2;
}

.section-02-icon {
  width: 16px;
  height: auto;
}

@media (min-width: 768px) {
  .section-02-width {
    width: 50%;
  }
}
