.loan-swiper {
  height: 60px;
  overflow: hidden;
}

.loan-text {
  color: white;
  font-weight: 900;
  font-size: larger;
}

.loan-text-secondary {
  font-weight: 500;
  font-size: small;
}

.loan-calc-bg {
  background: linear-gradient(
    180deg,
    rgba(11, 44, 110, 1) 15%,
    rgb(239, 239, 239) 100%
  );
}

#loan-range {
  direction: ltr;
}
@media (min-width: 992px) {
  #loan-container .container {
    max-width: 800px;
  }
}

#loan-range {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: linear-gradient(
    to right,
    #28a745 0%,
    #28a745 0%,
    #e5e5e5 0%,
    #e5e5e5 100%
  );
  outline: none;
}

#loan-range::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 4px;
  background: transparent;
}

#loan-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 2px solid #28a745;
  border-radius: 50%;
  margin-top: -5px;
  position: relative;
  z-index: 10;
}
