.hero {
  background-color: #0d6efd;
  color: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 1rem;
  margin: 1rem 1rem;
  overflow: hidden;

  .hero-img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  @media (min-width: 992px) {
    padding: 3rem;
    margin: 0;
  }

  @media (max-width: 576px) {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    padding: 1rem !important;

    .hero-img {
      max-width: 90%;
      margin: 0 auto;
      display: block;
    }
  }

  .row {
    &.flex-lg-row-reverse {
      align-items: center;
    }

    .col-lg-6 {
      margin-bottom: 1rem;
      text-align: left;

      &.text-lg-end {
        text-align: right;
      }
    }
  }
}
