.section-02-icon {
  width: 16px;
  height: auto;
}

.section-02-text {
  font-size: small;
}

.section-02-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

@media (min-width: 768px) {
  .section-02-width {
    width: 50%;
  }
}
