@font-face {
  font-family: "Samim";
  src: url("src/assets/fonts/Samim.woff2") format("woff2"),
    url("src/assets/fonts/Samim.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

$font-family-sans-serif: "Samim", sans-serif;

@import "bootstrap/scss/functions";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  font-family: "Samim", sans-serif;
}

$custom-colors: (
  "primary": #0b2c6e,
  "primary-bg": #23417d,
  "gray-bg": #efefef,

  "slider-1": #2f34ce,
  "slider-2": #174740,
  "slider-3": #cfeaff,
  "slider-4": #304f9c,
);

@import "bootstrap/scss/variables";

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/bootstrap";
